@import url('https://fonts.googleapis.com/css?family=Knewave|Raleway&display=swap');

.Header{
  font-family: 'Knewave', cursive;
  width: 100%;
  padding: 10px;
  font-weight: 100;
  h2{
    font-family: 'Raleway';
    text-align: center;
    font-size: 1.5rem;
  }
  h3{
    font-size: 1.8rem;
    font-family: 'Raleway';
    text-align: center;
  }
  h1{
    color: #333;
    font-family: 'Knewave', cursive;
    font-size: 3.5rem;
    text-align: center;
    margin: 20px 0;


  }
}