.Week{
  width: 80%;
  // padding: 10px;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  h1{
    color: rgb(255, 255, 255);
    font-size: 4rem;
    text-decoration: underline;
  }
  .film:nth-child(even){
    align-self: flex-start;
    flex-direction: row-reverse;
    justify-content: flex-end;
    img{
      margin-right: 10px;
    }
    // border: 1px solid white;
  }
  .film:nth-child(odd){
    align-self: flex-end;
    justify-content: space-between;
    img{
      margin-left: 10px;
    }
    .film-content{
      width: 60%;
    }
  }
}

.line{
  border: 1px solid #BFB7B6;
  width: 80%;
  margin: 10px 0;
}

.film{
  width: 100%;
  display:flex;
  margin: 20px 0;
  padding: 10px;
  background: #92140C;
  box-shadow: 0 0 15px black;
  position: relative;
  color: #BFB7B6;
  .film-content{
    h2{
      // color: black;
      font-size: 3rem;
    }
    h3{
      font-size: 2rem;
    }
    p{
      font-size: 1.2rem;
    }
    .synopsis{
      font-size: 1.5rem;
      margin-top: 15px;
    }
  }
  .poster{
    max-width: 250px;
    min-width: 250px;
    min-height: 375px;
    max-height: 375px;
  }

}

.mobile-synopsis{
  display: none
}

.streaming-hold-mobile{
  display: none;
}

.streaming-link-mobile{
  display: none;
}

@media screen and (max-width: 700px) {
  .film{
    border: 1px solid white;
    // flex-direction: column;
    .film-content{
      width: 90%;
      .synopsis{
        display: none;
      }
      h3{
        display: none;
      }
    }
  }
}

@media screen and (max-width: 450px){
  .film{
    flex-direction: column !important;
    align-items: center;
    img{
      margin: 0 !important;
      margin-top: 10px !important;
    }
  }
  .film-content{
    width: 100% !important;
  }

  .mobile-synopsis{
    display: block;
    margin-top: 10px;
    font-size: 1.2rem;
  }

  .streaming-hold-mobile{
    display: block;
    align-self: flex-start;
  }

  .streaming-link-mobile{
    display: block;
    align-self: flex-start;
    color: #608eb1;
  }

  .streaming-hold{
    display: none;
  }

  .streaming-link{
    display: none;
  }

  .Week{
    h1{
      font-size: 2.2rem;
    }
  }
}



.streaming-hold{
  margin-top: 15px;
}

.streaming-link{
  font-size: 1.5rem;
  color: #608eb1;
  margin-top: 10px;
  // position: absolute;
  // bottom: 5px;
}

.streaming-logo{
  width: 75px;
  border-radius: 20px;
  margin: 0 !important;
}