.Week{
  width: 70%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  .film:nth-child(odd){
    align-self: flex-start;
    flex-direction: row-reverse;
    justify-content: flex-start;
  }
  .film:nth-child(even){
    align-self: flex-end;
  }
}

.film{
  // border: 1px solid white;
  width: 100%;
  display:flex;
  margin: 20px 0;
  .poster{
    max-width: 250px;
    min-width: 250px;
  }
}

#hill-house{
  align-self: flex-start;
  flex-direction: row-reverse;
  justify-content: flex-start;
}