.Week{
  width: 80%;
  // padding: 10px;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  .film:nth-child(even){
    align-self: flex-start;
    flex-direction: row-reverse;
    justify-content: flex-end;
    img{
      margin-right: 10px;
    }
    // border: 1px solid white;
  }
  .film:nth-child(odd){
    align-self: flex-end;
    justify-content: space-between;
    .film-content{
      width: 60%;
    }
  }
}

.line{
  border: 1px solid #BFB7B6;
  width: 80%;
  margin: 10px 0;
}

.film{
  width: 100%;
  display:flex;
  margin: 20px 0;
  padding: 10px;
  background: #92140C;
  box-shadow: 0 0 15px black;
  color: #BFB7B6;
  .film-content{
    h2{
      font-size: 3rem;
    }
  }
  .poster{
    max-width: 250px;
    min-width: 250px;
    min-height: 375px;
    max-height: 375px;
  }
}

#hill-house{
  align-self: flex-start;
  flex-direction: row-reverse;
  justify-content: flex-start;
}